path.link {
  fill: none;
  stroke-width: 1.5px;
}

path.win{
  stroke: green;
}
path.lose{
  stroke: red;
}

circle {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  fill: #000;
  font: 10px sans-serif;
  pointer-events: none;
}

